<% if events.empty? %>
  <div class="col m-1">
    <div class="list-group">
      <p class="mb-2 list-group-item">No events yet!</p>
    </div>
  </div>
<% end %>
<% events.each do |event| %>
  <% if controller_name == 'invitations' %>
    <%= render 'layouts/shared/event', event: event.event, invite: event %>
  <% else %>
    <%= render 'layouts/shared/event', event: event %>
  <% end %>
<% end %>