<% if current_user %>
  <li class="nav-item">
    <%= link_to user_invitations_path(current_user), class: 'nav-link position-relative' do %>
      Invites <%= notification_count %>
    <% end %>
  </li>
<% end %>