<% if events.empty? %>
  <div class="col m-1">
    <div class="list-group">
      <div class="list-group-item">
        <p class="mb-2"><%= current_user.username.titleize %> has not made any events!</p>
      </div>
    </div>
  </div>
<% end %>
<% events.each do |event| %>
  <%= render 'event', event: event %>
<% end %>