<div class="card">
  <ul class="mt-3 nav nav-tabs" id="nav-tab" role="tablist">
    <li class="ms-3 nav-item" role="presentation">
      <button class="nav-link active" id="unconfirmed-tab" data-bs-toggle="tab" data-bs-target="#unconfirmed-tab-pane" type="button" role="tab" aria-controls="unconfirmed-tab-pane" aria-selected="true">Unconfirmed Invites</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="accepted-tab" data-bs-toggle="tab" data-bs-target="#accepted-tab-pane" type="button" role="tab" aria-controls="accepted-tab-pane" aria-selected="false">Accepted Invites</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="declined-tab" data-bs-toggle="tab" data-bs-target="#declined-tab-pane" type="button" role="tab" aria-controls="declined-tab-pane" aria-selected="false">Declined Invites</button>
    </li>
  </ul>
  <div class="tab-content p-3" id="nav-tabContent">
    <div class="tab-pane fade show active" id="unconfirmed-tab-pane" role="tabpanel" aria-labelledby="unconfirmed-tab" tabindex="0">
      <%= render 'layouts/shared/events_list', events: @invites.unconfirmed %>
    </div>
    <div class="tab-pane fade" id="accepted-tab-pane" role="tabpanel" aria-labelledby="accepted-tab" tabindex="0">
      <%= render 'layouts/shared/events_list', events: @invites.accepted %>
    </div>
    <div class="tab-pane fade" id="declined-tab-pane" role="tabpanel" aria-labelledby="declined-tab" tabindex="0">
      <%= render 'layouts/shared/events_list', events: @invites.declined %>
    </div>
  </div>
</div>